{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load markup_tags %}
{% load comments %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load is_allowed_tags %}
{% load theme_tags %}

{% is_allowed perm="topics.browse_topic" obj=topic as allowed_for_browse %}
{% if allowed_for_browse %}
<div class="topic clearfix">
    <div class="meta">
        <div class="avatar">{% avatar topic.creator 40 %}</div>
        <div class="details"><a href="{{ topic.creator.get_profile.get_absolute_url }}">{% user_display topic.creator %}</a></div>
        <div class="created">{{ topic.created|date }}</div>
    </div>
    <div class="bulk">
        <h2><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h2>
        <div class="body">{{ topic.body|apply_markup:topic.markup|truncatewords_html:"100" }}</div>
        {% get_comment_count for topic as comment_count %}
        {% if comment_count %}
            <div class="comment_stats">
                {{ comment_count }} comment{{ comment_count|pluralize }}
                {% blocktrans with topic.modified|date as topic_modified %}
                (most recent: {{ topic_modified }})
                {% endblocktrans %}
            </div>
        {% endif %}
        <p>{% show_tags_for topic %}</p>
    </div>
</div>
{% else %}
<div class="topic clearfix">
    <div class="task-meta">
        &nbsp;
    </div>
    <div class="bulk">
        {% trans "Private content" as private_msg %}
        &nbsp; {% silk "lock" alt=private_msg title=private_msg %} {{ private_msg }}
    </div>
</div>
{% endif %}
