{% load i18n %}
{% load account_tags %}
{% load avatar_ext_tags %}
{% load extra_tagging_tags %}
{% load cache_tagging_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% cache_tagging 'browse.blog.post.pk:'|concat:blog_post.pk|concat:'.lang:'|concat:LANGUAGE_CODE 'blog.post.pk:'|concat:blog_post.pk timeout=18000 %}
<div class="blog-post clearfix">
    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h2>
    <div class="blog-post-tease">
        {{ blog_post.tease_rendered|safe }}
    </div>
    <div class="blog-post-meta">
        {% avatar blog_post.author 40 %}
        <p><b>{% trans "Posted:" %}</b><br />
            <a href="{% url profile_detail blog_post.author.username %}">{% user_display blog_post.author %}</a> {% trans "on" %} {{ blog_post.publish|date }}</p>
        <div class="blog-tags">
            <p>{% show_tags_for blog_post %}</p>
        </div>
    </div>
</div>
{% end_cache_tagging %}
