{% extends "blog/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load markup_form_tags %}
{% load is_allowed_tags %}
{% load static_tags %}


{% block head_title %}{% blocktrans %}Editing Post{% endblocktrans %}{% endblock %}


{% block extra_head %}
    {% mapkup_form_init %}
{% endblock %}


{% block body %}

    <form class="uniForm" id="edit-profile" method="POST" action="">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ blog_form.media }}
            {{ blog_form|as_uni_form }}
            <div class="form_block">
            <input type="hidden" name="action" value="update" />
            <input type="submit" value="{% trans "Update" %}"/>
            </div>
        </fieldset>
    </form>

    {% ifallowed perm="blog.delete_post" obj=post %}
    <div class="alignright">
        <form action="{% url blog_destroy post.id %}" method="POST">
            {% csrf_token %}
            <input type="image" src="{% static_url "pinax/img/silk/icons/delete.png" %}" border="0" title="{% trans "Delete" %}" class="delete" />
            <input type="hidden" name="action" value="delete"/>
        </form>
    </div>
    <div class="cls"></div>
    {% endifallowed %}

{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
        $(function(){
            $('.delete').on("click", function(e){
                if (!confirm('{% trans "Are you sure? Delete it?" %}')) {
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
