{% extends "blog/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load markup_form_tags %}

{% block head_title %}{% blocktrans %}Write a Blog Post{% endblocktrans %}{% endblock %}

{% block extra_head %}
    {% mapkup_form_init %}
{% endblock %}

{% block body %}
    
    {# @@@ not sure how to bring back teaser toggle with uni_form #}
    <form class="uniForm" id="edit-profile" method="POST" action="">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ blog_form.media }}
            {{ blog_form|as_uni_form }}
            <div class="form_block">
            <input type="hidden" name="action" value="create" />
            <input type="submit" value="{% trans "create" %}"/>
            </div>
        </fieldset>
    </form>
    
{% endblock %}
