{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load comments %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Friends' Photos{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% blocktrans %}Friends' Photos{% endblocktrans %}</h1>
    
    {% if object_list %}
        {% autopaginate object_list 24 %}
        <div class="thumb-row clearfix">
            {% for photo in object_list %}
                {% include "photos/list_item.html" %}
            {% endfor %}
        </div>
        {% paginate %}
    {% else %}
        <p>No photos were found.</p>
    {% endif %}
    
{% endblock %}
