{% extends "photos/base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load group_tags %}
{% load comments %}
{% load theme_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% spaceless %}
    {% if group %}
        {% blocktrans with group.get_absolute_url as group_url and group.name as group_name %}Latest Photos for <a href="{{ group_url }}">{{ group_name }}</a>{% endblocktrans %}
    {% else %}
        {% trans "Latest Photos" %}
    {% endif %}
    {% endspaceless %}</h1>
    
    {% if photos %}
    {% autopaginate photos %}
        <div class="thumb-row clearfix">
        {% for photo in photos %}
            {% include "photos/list_item.html" %}
        {% endfor %}
        <div class="clear"></div>
        {% paginate %}
        </div>
    {% else %}
        <p>{% trans "No photos were found." %}</p>
    {% endif %}
    
    
{% endblock %}
