{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}
{% load pagination_tags %}
{% load helper_tags %}
{% load humanize %}

{% block head_title %}Wiki for {{ group.name }}{% endblock %}

{% block body %}

    <p><i>{% wiki_title group %}</i></p>

    {% if articles %}

        {% include "wiki/searchbox.html" %}

        {% autopaginate articles %}
            <table class="topics">
                {% for article in articles %}
                    {% ifchanged article.created_at.date  %}
                        <tr><td colspan="2"><h2>{{ article.created_at.date|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2></td></tr>
                    {% endifchanged %}
                    {% show_teaser article %}
                {% endfor %}
            </table>
        {% paginate %}

    {% else %}

        <div>{% trans "There are no articles yet." %}</div>

    {% endif %}

    {% if allow_write %}
        {% groupurl wiki_edit group title=new_article.title as url %}
        <p>{% blocktrans %}+ Start a <a href="{{ url }}">NewArticle</a>{% endblocktrans %} {% helper 'wiki' '<img src="'|add:STATIC_URL|add:'admin/img/icon-unknown.gif">' as h %}{% if h %}{{ h }}{% endif %}</p>
    {% endif %}

{% endblock %}
