{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}
{% load pagination_tags %}
{% load humanize %}

{% block head_title %}Wiki for {{ group.name }}{% endblock %}

{% block body %}
    {% wiki_title group %}

    {% include "wiki/searchbox.html" %}

    

    {% if articles %}
        {% autopaginate articles %}
        <ul>
        {% for article in articles %}
            {% ifchanged article.created_at.date  %}<h2 class="join_date">{{ article.created_at.date|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>{% endifchanged %}
            <li><a href="{% groupurl wiki_article group title=article.title %}">{{ article.title }}</a></li>
        {% endfor %}
        </ul>
        {% paginate %}
    {% endif %}

    {% if allow_write %}
        <p>Start a <a href="{% groupurl wiki_edit group title=new_article.title %}">NewArticle</a>.</p>
    {% endif %}

{% endblock %}
