{% extends "wiki/base.html" %}

{% load i18n %}
{% load wiki_tags %}
{% load group_tags %}
{% load comments_tag %}
{% load helper_tags %}
{% load markup_tags %}
{% load extra_tagging_tags %}
{% load contenttypes_tags %}
{% load is_allowed_tags %}
{% load notification_observe_tags %}

{% block head_title %}{{ article.title|camel_case_to_space }} - {% blocktrans with group=group.name %}Wiki for {{ group }}{% endblocktrans %}{% endblock %}
{% block head_description %}{{ article.title|camel_case_to_space }} - {% blocktrans with group=group.name %}Wiki for {{ group }}{% endblocktrans %}{% endblock %}

{% block extra_head %}
    {% include "notification/observe_init.html" %}
{% endblock %}

{% block body %}

    {% if allow_write or article.id %}
    <div class="right_panel">
        <div class="actions">
            <h2>{% trans "Actions" %}</h2>
            {% if article.id %}

                {% if allow_write %}
                    <li><a href="{% groupurl wiki_edit group title=article.title %}">{% trans "Edit this article" %}</a> </li>
                {% endif %}

                {% ifallowed perm="wiki.browse_revision_article" obj=article %}
                    <li><a href="{% url versioning_revision_list content_type=article|contenttype_id object_id=article.pk %}">{% trans "Editing history" %}</a> </li>
                {% endifallowed %}

                {% observe_link article 'post_save' 'wiki_article_edited' text_observe=_("Observe Article") text_stop_observing=_("Stop Observing Article") as observe_article_html %}
                {% if observe_article_html %}
                    <li>{{ observe_article_html }}</li>
                {% endif %}

                {% observe_link article 'wiki_article_comment' 'wiki_article_comment' text_observe=_("Observe for new comments") text_stop_observing=_("Stop observing for new comments") as observe_comment_html %}
                {% if observe_comment_html %}
                    <li>{{ observe_comment_html }}</li>
                {% endif %}

                {% ifallowed perm="wiki.mark_removed_article" obj=article %}
                    <li><a href="{% groupurl wiki_remove_article group title=article.title %}">{% trans "Remove this article" %}</a></li>
                {% endifallowed %}

                {% helper "wiki" _("How to add new article?") as h %}
                {% if h %}<li>{{ h }}</li>{% endif %}

            {% else %}

                <li><a href="{% groupurl wiki_edit group title=article.title %}">{% trans "Create this article" %}</a></li>

            {% endif %}
        </div>
    </div>
    {% endif %}


    <h1><a href="{% groupurl wiki_article group title=article.title %}" rel="bookmark">{{ article.title|camel_case_to_space }}</a></h1>

    <p><i>{% wiki_title group %}</i></p>

    {% if not article.id and allow_write %}
        <p>
            {% trans "This article does not exist." %}
            <a href="{% groupurl wiki_edit group title=article.title %}" {% trans ">Create it now</a>?" %}
        </p>
    {% endif %}
    
    <div>
        {{ article.content|apply_markup:article.markup|wiki_links:article.group }}
    </div>

    {% show_tags_for article %}

    <h3>{% trans "Comments on This Article" %}:</h3>
    {% comments article %}
{% endblock %}
